
::-webkit-scrollbar {
    width: 1px;
}


:root {
    --text-color: #164296;
    --text-color-new: #85020e;
    --bg-color: #E0F1FF;
    --bg-color-new: #FFFFEE;
    --border-color: #a9b6c0;
    --border-color-new: #f3a29e;
    --block-color: #d4e2f9;
    --block-color-new: #f5e2e1;
    --button-color-hover: #edf5ff;
    --button-color-hover-new: #fff7f3;
    --button-text-color: #12367a;
    --button-text-color-new: #522731;
    --input-color-bg: var(--button-color-hover);
    --input-color-bg-new: var(--button-color-hover-new);
    --popup-height: 600px;
    --popup-width: 510px;
    --navbar-height: 35px;
    --row-height: 50px;
    --row-margin-vert: 3px;
    --table-margin-horiz: 3px;
    --block-border-radius: 5px;
    --title-block-width: 180px;
    --std-border-width: 1px;
    --std-margin-width: 5px;
    --button-border-radius: 3px;
}

html {
    width: var(--popup-width);
    min-width: var(--popup-width);
    max-width: var(--popup-width);
    height: var(--popup-height);
    overflow-y: scroll;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

body {
    background: var(--bg-color);
    width: var(--popup-width);
    /*linear-gradient(var(--bg-color-new), var(--bg-color));*/
    cursor: default;
    user-select: none;
    margin: 0;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

input {
    padding: 0px;
    color: inherit;
    background-color: inherit;
}

select{
    color:inherit;
    background-color:inherit;
}

.seriesRow[new_releases=true],
[new_releases=true] * {
    background-color: var(--block-color-new);
    color: var(--text-color-new);
    border-color: var(--border-color-new);
}

    [new_releases=true] .upToDateButton {
        color: var(--button-text-color-new);
        border-color: var(--button-text-color-new);
    }

        [new_releases=true] .upToDateButton:hover {
            background-color: var(--button-color-hover-new);
        }

    [new_releases=true] .seriesSelectButton {
        color: var(--button-text-color-new);
        border-color: var(--button-text-color-new);
    }

        [new_releases=true] .seriesSelectButton:hover {
            background-color: var(--button-color-hover-new);
        }

        [new_releases=true] .seriesSelectButton[toggle=on] {
            background-color: var(--button-text-color-new);
        }

        [new_releases=true] .editLinkButton:hover {
            background-color: var(--button-color-hover-new);
        }

    [new_releases=true] .readVolumeInput, [new_releases=true] .readVolumeInput:focus,
    [new_releases=true] .readChapterInput, [new_releases=true] .readChapterInput:focus {
        background-color: var(--input-color-bg-new);
    }
    [new_releases=true] .editLinkInput::-webkit-input-placeholder {
        color: var(--text-color-new);
    }
    [new_releases=true] .editLinkInput {
        background-color: var(--input-color-bg-new);
    } 

.seriesRow[new_releases=false] ,
[new_releases=false] * {
    background-color: var(--block-color);
    color: var(--text-color);
    border-color: var(--border-color);
}

    [new_releases=false] .upToDateButton {
        color: var(--button-text-color);
        border-color: var(--button-text-color);
    }

        [new_releases=false] .upToDateButton:hover {
            background-color: var(--button-color-hover);
        }

    [new_releases=false] .seriesSelectButton, #selectAllButton {
        color: var(--button-text-color);
        border-color: var(--button-text-color);
    }

        [new_releases=false] .seriesSelectButton:hover,
        [new_releases=false] #selectAllButton:hover {
            background-color: var(--button-color-hover);
        }

        [new_releases=false] .seriesSelectButton[toggle=on],
        #selectAllButton[toggle=on] {
            background-color: var(--button-text-color);
        }

            [new_releases=false] .seriesSelectButton[toggle=on]:hover {
                background-color: var(--text-color);
            }

        [new_releases=false] .editLinkButton:hover {
            background-color: var(--button-color-hover);
        }

    [new_releases=false] .readVolumeInput, [new_releases=false] .readVolumeInput:focus,
    [new_releases=false] .readChapterInput, [new_releases=false] .readChapterInput:focus {
        background-color: var(--input-color-bg);
    }
    [new_releases=false] .editLinkInput {
        background-color: var(--input-color-bg);
    } 
    [new_releases=false] .editLinkInput::-webkit-input-placeholder {
    color: var(--text-color);
    }

.listTable {
    margin-left: var(--table-margin-horiz);
    margin-right: var(--table-margin-horiz);
    margin-top: calc(var(--navbar-height) + var(--row-margin-vert) + 1px);
}

.seriesRow {
    border-radius: var(--block-border-radius);
    border-width: var(--std-border-width);
    border-style: dotted;
    height: var(--row-height);
    margin-bottom: var(--row-margin-vert);
    margin-top: var(--row-margin-vert);
    overflow: hidden;
}

.seriesRowWrap {
    will-change: transform;
}

.seriesTitleBlock {
    width: var(--title-block-width);
    float: left;
    font-weight: bold;
    padding-right: var(--std-margin-width);
    padding-left: var(--std-margin-width);
    border-right: 1px #a9b6c0 dotted;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow:hidden;
}

.titleDisplay {
    display: table;
    width: 180px;
    height: 50px;
    overflow:hidden;
}

    .titleDisplay p {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

a {
    cursor: pointer;
}

.editLinkWrap {
    position: relative;
    height: 0px;
}

.editLinkButton {
    position: absolute;
    border: 1px dotted;
    border-color: var(--border-color);
    border-top-left-radius: var(--block-border-radius);
    border-top-right-radius: var(--block-border-radius);
    border-bottom-left-radius: var(--block-border-radius);
    border-bottom-right-radius: var(--block-border-radius);
    right: 168px;
    bottom: 33px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    opacity: .95;
}
    .editLinkButton:hover {
        cursor:pointer;
        opacity: 1;
    }
    .editLinkButton:active {
        transform: translateY(1px);
    }

.editLinkIcon {
    position:relative;
    right:2px;
    bottom:6px;
    font-size: 20px;
    transform: scale(-1,1) skew(0deg,30deg) rotate(30deg);
    font-weight: bolder;
    opacity:.4;
    background-color:initial;
}

.editLinkInput {
    --posX: calc(0px - var(--std-margin-width));
    --posY: calc(0px - var(--row-height));
    position: absolute;
    transform: translate(var(--posX),var(--posY));
    border: inherit;
    border-radius: inherit;
    border-top-left-radius: var(--block-border-radius);
    border-bottom-left-radius: var(--block-border-radius);
    text-align: center;
    width: calc(var(--title-block-width) + (var(--std-margin-width)*2));
    height: var(--row-height);
    opacity:.95;
}

.seriesReleaseBlock {
    overflow: hidden;
    height: 50px;
    font-size: 12px;
    padding-left: 10px;
    white-space: nowrap;
    display: block;
}

.releaseLineDisplay {
    padding-top: 8px;
}

.releaseReadLine {
    height: 12px;
}

.releaseLatestLine {
    padding-top: 3px;
}

    .releaseLatestLine:hover {
        padding-top: 3px;
    }

.buttonBlock {
    width: 130px;
    height: 50px;
    float: right;
    overflow: hidden;
}

.releaseReadDescription {
    display: inline;
}

.releaseReadDisplay {
    display: inline;
}

.releaseLatestDescription {
    display: inline;
}

.releaseLatestDisplay {
    display: inline;
}

.readVolume {
    cursor: auto;
    margin-right:4px;
}

.readChapter {
    cursor: auto;
}

.readChapVolNA {
    cursor: auto;
}

.readVolumeInput, .readVolumeInput:focus {
    font-size: 12px;
    width: 15px;
    height: 12px;
    box-shadow: none;
    border-width: 1px;
    border-style: dotted;
}

.readChapterInput, .readChapterInput:focus {
    font-size: 12px;
    width: 21px;
    height: 12px;
    box-shadow: none;
    border-width: 1px;
    border-style: dotted;
}

.upToDateButtonWrap {
    position: relative;
    height: 0px;
    text-align: center;
}

.upToDateButton {
    border-radius: 4px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    padding: 12px 12px;
    margin-top: 4px;
}

    .upToDateButton:hover {
        cursor: pointer;
    }

    .upToDateButton:active {
        position: inherit;
        top: 1px;
    }

.seriesSelectWrap {
    position: relative;
    height: 0px;
    text-align: center;
}





button {
    font-size: 12px;
}

.navBar {
    position: fixed;
    top: 0px;
    background-color: var(--block-color);
    z-index: 5;
    height: var(--navbar-height);
    width: 513px;
    left: -2px;
    border-bottom: dotted 1px var(--border-color);
    border-bottom-left-radius: var(--block-border-radius);
    border-bottom-right-radius: var(--block-border-radius);
}


#currentListField{
    display: inline-block;
    float: left;
    margin-top: 5px;
}

#seriesRowListFilter {
    width: 80px;
    height: 20px;
}

#currentListSelect {
    top:5px;
    margin-left: 5px;
    height:25px;
    width: 100px;
}

#manageSeriesField {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: var(--navbar-height);
    top: 5px;
    left: 216px;
    text-align: center;
}

#deleteSeriesButton {
    width: 24px;
    height: 24px;
    font-size: 20px;
    font-weight: bolder;
    background-color: var(--block-color-new);
    color: var(--text-color-new);
    display: inline-block;
    position: relative;
    border: 1px solid;
    border-radius: var(--button-border-radius);
    padding-left:5px;
    padding-right: 5px;
    overflow: hidden;
}
    #deleteSeriesButton:hover {
        background-color: var(--button-color-hover-new);
        cursor: pointer;
    }
    #deleteSeriesButton:active{
        top: 1px;
    }

#deleteButtonDescription{
   position:absolute;
   right:6px;
   bottom:0px;
}

#moveSeriesButton {
    width: 50px;
    height: 24px;
    background-color: var(--block-color);
    border: solid 1px;
    border-bottom-left-radius: var(--button-border-radius);
    border-top-left-radius: var(--button-border-radius);
    border-color: var(--text-color);
    position: relative;
    display: inline-block;
    bottom: 0px;
    margin-left: 3px;
    overflow: visible;
}
    #moveSeriesButton:hover {
        background-color: var(--button-color-hover);
        cursor: pointer;
    }
    #moveSeriesButton:active {
        top: 1px;
    }

#moveButtonDescription{
    position: absolute;
    width:50px;
    height:24px;
    display:inline-block;
    text-wrap:none;
    right:0px;
    top:3px;
    color:var(--button-text-color);
}

#manageSeriesListSelect {
    width: 100px;
    height: 26px;
    border-bottom-right-radius: var(--button-border-radius);
    border-top-right-radius: var(--button-border-radius);
    display: inline-block;
    transform: translateY(-9px);
}



#manageSeriesButton {
    width: 30px;
    height: 24px;
    left: 470px;
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
    background-color: var(--block-color);
    border: 1px solid;
    border-color: var(--text-color);
    border-radius: var(--button-border-radius);
}
    #manageSeriesButton:hover {
        background-color: var(--button-color-hover);
        cursor: pointer;
    }

    #manageSeriesButton:active {
        top: 1px;
    }

#manageButtonDescription {
    position:absolute;
    font-size: 27px;
    transform:translateY(-7px);
    color:var(--text-color);
    left: 5px;
}

.seriesSelectButton, #selectAllButton {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.5);
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 11px;
    margin-right: 3px;
    display: inline-block;
}
    .seriesSelectButton:hover, #selectAllButton:hover {
        cursor: pointer;
    }

#selectAllButton {
    transform: translateY(-45px);
    border-color:var(--button-text-color);
    margin-left: 216px;
    margin-right:0px;
    margin-top: 14px;
    width: 16px;
    height: 16px;
}

#redirectPage {
    background-color: var(--bg-color-new);
    width: var(--popup-width);
    height: var(--popup-height);
    display: flex;
    justify-content: center;
    align-items:center;
}

.enBox {
    border-radius: var(--block-border-radius);
    border-style: dotted;
    border-width: var(--std-border-width);
}

.enButton {
    border-radius: 4px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    padding: 12px 12px;
    margin-top: 4px;
}

#redirectBox {
    width: 80vw;
    height:40vw;
    background-color: var(--block-color-new);
    border-color: var(--border-color-new);
    transform: translateY(-30px);
    text-align:center;
}

#redirectText {
    font-size: 16px;
    color: var(--button-text-color-new);
    font-weight:600;
    position: relative;
    margin-top: 30px;
    top:30px;
}

#loginButton, #registerButton {
    color: var(--button-text-color-new);
    background-color: var(--block-color-new);
    border-color: var(--button-text-color-new);
    position: relative;
    margin-top: 80px;
    font-size: 14px;
}

#loginButton {
    margin-right:8%;
}

#registerButton {
    
    margin-left:8%;
}

#loginButton:hover, #registerButton:hover {
    background-color: var(--button-color-hover-new);
}