


:root {
    --text-color: #164296;
    --text-color-new: #85020e;
    --bg-color: #E0F1FF;
    --bg-color-new: #FFFFEE;
    --border-color: #8ea3b4;
    --border-color-new: #f3a29e;
    --block-color: #d4e2f9;
    --block-color-new: #f5e2e1;
    --color-brighten: rgba(255, 255, 255, 0.7);
    --color-brighten-more: rgba(255, 255, 255, 0.95);
    --button-text-color: #12367a;
    --button-text-color-new: #522731;
    --popup-height: 600px;
    --popup-width: 510px;
    --navbar-height: 35px;
    --row-height: 50px;
    --row-margin-vert: 3px;
    --table-margin-horiz: 3px;
    --block-border-radius: 5px;
    --title-block-width: 180px;
    --std-border-width: 1px;
    --std-margin-width: 5px;
    --button-border-radius: 3px;
    --view-height: calc(var(--popup-height) - var(--navbar-height) - var(--row-margin-vert) - 1px);
}

html {
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-family: Arial !important;
    width: var(--popup-width);
    height: var(--view-height);
    background-color: var(--bg-color);
}

body {
    cursor: default;
    user-select: none;
    margin: 0;
}

#popup {
    position: relative;
    max-width: var(--popup-width);
    min-height: var(--popup-height);
    background-color: var(--bg-color);
    padding-bottom: 1px;
}

.noScroll::-webkit-scrollbar {
    width: 0px;
}


:focus {
  outline-color: transparent;
  outline-style: none;
}

input {
    padding: 0px;
    color: inherit;
    background-color: inherit;
    -webkit-appearance: none;
    box-shadow: none !important;
    border:none;

}

select {
    color: inherit;
    background-color: inherit;
    -moz-appearance: none;
}

a {
    cursor: pointer;
}


button {
    font-size: 12px;
}

.enBox {
    border-radius: var(--block-border-radius);
    border-style: dotted;
    border-width: var(--std-border-width);
}

.enButton {
    border-radius: 4px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    padding: 12px 12px;
    margin-top: 4px;
}

.seriesRow[new_releases=true],
[new_releases=true] * {
    background-color: var(--block-color-new);
    color: var(--text-color-new);
    border-color: var(--border-color-new);
}

    [new_releases=true] .upToDateButton {
        color: var(--button-text-color-new);
        border-color: var(--button-text-color-new);
    }

    [new_releases=true] .seriesSelectButton {
        color: var(--button-text-color-new);
        border-color: var(--button-text-color-new);
    }

        [new_releases=true] .seriesSelectButton[toggle=on] {
            background-color: var(--button-text-color-new);
        }
    [new_releases=true] .editLinkInput::-webkit-input-placeholder {
        color: var(--text-color-new);
    }
    [new_releases=true] .editLinkButton{
        border-color: var(--border-color-new);
    }
    [new_releases=true] .seriesTitleBlock {
        border-right-color: var(--border-color-new);
    }

.seriesRow[new_releases=false] ,
[new_releases=false] * {
    background-color: var(--block-color);
    color: var(--text-color);
    border-color: var(--border-color);
}

    [new_releases=false] .upToDateButton {
        color: var(--button-text-color);
        border-color: var(--button-text-color);
    }
    [new_releases=false] .seriesSelectButton, #selectAllButton {
        color: var(--button-text-color);
        border-color: var(--button-text-color);
    }
        [new_releases=false] .seriesSelectButton[toggle=on],
        #selectAllButton[toggle=on] {
            background-color: var(--button-text-color);
        }
    [new_releases=false] .editLinkInput::-webkit-input-placeholder {
    color: var(--text-color);
    }
    [new_releases=false] .editLinkButton {
        border-color: var(--border-color);
    }
    [new_releases=false] .seriesTitleBlock {
        border-right-color: var(--border-color);
    }

.listTable {
    margin-left: var(--table-margin-horiz);
    margin-right: var(--table-margin-horiz);
}

.seriesRow, .optionRow {
    border-radius: var(--block-border-radius);
    border-width: var(--std-border-width);
    border-style: dotted;
    height: var(--row-height);
    margin-bottom: var(--row-margin-vert);
    margin-top: var(--row-margin-vert);
    overflow: hidden;
}

.seriesRowWrap {
    will-change: transform;
}

.seriesTitleBlock {
    width: var(--title-block-width);
    float: left;
    font-weight: bold;
    padding-right: var(--std-margin-width);
    padding-left: var(--std-margin-width);
    border-right-style: dotted;
    border-right-width: var(--std-border-width);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow:hidden;
}

.titleDisplay {
    display: table;
    width: 180px;
    height: 50px;
    overflow:hidden;
}

    .titleDisplay p {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

.editLinkWrap {
    position: relative;
    height: 0px;
}

.editLinkButton {
    position: absolute;
    border: 1px dotted;
    border-color: var(--border-color);
    border-top-left-radius: var(--block-border-radius);
    border-top-right-radius: var(--block-border-radius);
    border-bottom-left-radius: var(--block-border-radius);
    border-bottom-right-radius: var(--block-border-radius);
    right: 168px;
    bottom: 33px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    opacity: .95;
}
    .editLinkButton:hover {
        background-color: var(--color-brighten);
        cursor:pointer;
        opacity: 1;
    }
    .editLinkButton:active {
        transform: translateY(1px);
    }

.editLinkIcon {
    position:relative;
    right:2px;
    bottom:6px;
    font-size: 20px;
    transform: scale(-1,1) skew(0deg,30deg) rotate(30deg);
    font-weight: bolder;
    opacity:.4;
    background-color:initial;
}

.editLinkInput {
    --posX: calc(0px - var(--std-margin-width));
    --posY: calc(0px - var(--row-height));
    position: absolute;
    transform: translate(var(--posX),var(--posY));
    border: inherit;
    border-radius: inherit;
    border-top-left-radius: var(--block-border-radius);
    border-bottom-left-radius: var(--block-border-radius);
    text-align: center;
    width: calc(var(--title-block-width) + (var(--std-margin-width)*2));
    height: var(--row-height);
    background-color: var(--color-brighten-more);
}

.seriesReleaseBlock {
    overflow: hidden;
    height: 50px;
    font-size: 12px;
    padding-left: 10px;
    white-space: nowrap;
    display: block;
}

.releaseLineDisplay {
    padding-top: 8px;
    overflow:visible;
}

.releaseReadLine, .releaseLatestLine {
    height: 14px;
}

.buttonBlock {
    width: 130px;
    height: 50px;
    float: right;
    overflow: hidden;
}

.readVolume {
    margin-right:4px;
}

.readVolume, .readChapter, .readChapVolNA {
    cursor: auto;
}

.readVolumeInput, .optionInput, .readVolumeInput:focus {
    font-size: 12px;
    width: 15px;
    height: 12px;
    box-shadow: none;
    border-width: 1px;
    border-style: dotted;
    background-color: var(--color-brighten);
}

.readChapterInput, .readChapterInput:focus {
    font-size: 12px;
    width: 21px;
    height: 12px;
    box-shadow: none;
    border-width: 1px;
    border-style: dotted;
    background-color: var(--color-brighten);
}

.upToDateButtonWrap {
    position: relative;
    height: 0px;
    text-align: center;
}

.upToDateButton {
    border-radius: 4px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    padding: 12px 0px;
    margin-top: 4px;
    width: 118px;
}

    .upToDateButton:hover {
        background-color: var(--color-brighten);
        cursor: pointer;
    }

    .upToDateButton:active {
        position: inherit;
        top: 1px;
    }

.seriesSelectWrap {
    position: relative;
    height: 0px;
    text-align: center;
}

#navBar {
    position:sticky;
    top: 0px;
    background-color: var(--block-color);
    z-index: 5;
    height: var(--navbar-height);
    width: 513px;
    left: -2px;
    border-bottom: dotted 1px var(--border-color);
    border-bottom-left-radius: var(--block-border-radius);
    border-bottom-right-radius: var(--block-border-radius);
    overflow:hidden;
}

    #navBar select {
        background-color: var(--color-brighten);
    }
    #navBar input {
        background-color: var(--color-brighten);
        box-shadow: none;
        outline: none;
        border-width: 1px;

    }


#currentListField{
    display: inline-block;
    position:relative;
    margin-top: 5px;
    
}

#seriesRowListFilter {
    width: 87px;
    height: 24px;
    margin-left: var(--std-margin-width);
    text-indent: var(--std-margin-width);
    box-shadow: none !important;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: var(--button-border-radius);
    color: var(--text-color);
}

    #seriesRowListFilter::-webkit-input-placeholder {
        color: var(--button-text-color);
        opacity: .5;
    }

#currentListSelect {
    top: 5px;
    margin-left: 5px;
    height: 26px;
    width: 112px;
    border-color: var(--border-color);
    color: var(--button-text-color);
    border-radius: var(--button-border-radius);
    /* makes font not blur during animations*/
    -webkit-backface-visibility: hidden;
}

#manageSeriesField {
    display: inline-block;
    position: absolute;
    height: var(--navbar-height);
    top: 5px;
    left: 127px;
    text-align: center;
}

#deleteSeriesButton {
    width: 24px;
    height: 24px;
    background-color: var(--block-color-new);
    color: var(--text-color-new);
    display: inline-block;
    position: relative;
    border: 1px solid;
    border-radius: var(--button-border-radius);
    padding-left:5px;
    padding-right: 5px;
    overflow: hidden;
    text-align:center;
}
    #deleteSeriesButton:active{
        top: 1px;
    }

#deleteButtonDescription {
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    right: 6px;
    bottom: 0px;
}

#deleteSeriesButton:hover {
    background-color: var(--text-color-new);
    border-color: var(--text-color-new);
    color: var(--block-color-new);
    cursor: pointer;
}

#moveSeriesButton {
    width: 52px;
    height: 24px;
    background-color: var(--block-color);
    border: solid 1px;
    border-bottom-left-radius: var(--button-border-radius);
    border-top-left-radius: var(--button-border-radius);
    border-color: var(--button-text-color);
    color: var(--button-text-color);
    position: relative;
    display: inline-block;
    bottom: 0px;
    margin-left: 3px;
    overflow: visible;
}
    #moveSeriesButton:hover {
        background-color: var(--color-brighten);
        cursor: pointer;
    }
    #moveSeriesButton:active {
        top: 1px;
    }

#moveButtonDescription{
    position: absolute;
    width:50px;
    height:24px;
    display:inline-block;
    text-wrap:none;
    right:0px;
    top:3px;
    color:var(--button-text-color);
    font-size: 12px;
}

#manageSeriesListSelect {
    width: 105px;
    height: 26px;
    border-bottom-right-radius: var(--button-border-radius);
    border-top-right-radius: var(--button-border-radius);
    display: inline-block;
    transform: translate(-1px, -9px);
    border-color: var(--border-color);
    border-left-color: var(--button-text-color);
    color: var(--button-text-color);
    text-shadow: none;
    /* makes font not blur during animations*/
    -webkit-backface-visibility: hidden;
}



#manageSeriesButton {
    width: 34px;
    height: 24px;
    left: 467px;
    margin-right: 0px;
    position: relative;
    background-color: var(--block-color);
    border: 1px solid;
    border-color: var(--button-text-color);
    border-radius: var(--button-border-radius);
    bottom: 26px;
}
    #manageSeriesButton:hover{
        background-color: var(--color-brighten);
        cursor: pointer;
    }

    #manageSeriesButton:active {
        transform: translateY(1px);
    }

#manageButtonDescription {
    position:absolute;
    font-size: 27px;
    transform:translateY(-7px);
    color:var(--button-text-color);
    left: 8px;
}

#optionsButton {
    position: absolute;
    width: 71px;
    height: 19px;
    top: 1px;
    left: 221px;
    padding: 0px;
    text-align: center;
    padding-top: 5px;
    font: 13.3333px Arial;
    border-color: var(--button-text-color);
    color: var(--button-text-color);
}
    #optionsButton:hover {
        background-color: var(--color-brighten);
    }
    #optionsButton:active {
        transform: translateY(1px);
    }
    
.seriesSelectButton, #selectAllButton, .optionSelectButton {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.5);
    position: relative;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.seriesSelectButton {
    margin-top: 11px;
    transform: translateX(1px);
}
    .seriesSelectButton:hover, #selectAllButton:hover, .optionSelectButton:hover {
        background-color: var(--color-brighten);
        cursor: pointer;
    }

#selectAllButton {
    transform: translateY(-45px);
    border-color:var(--button-text-color);
    margin-left: 245px;
    margin-top: 14px;
    width: 17px;
    height: 17px;
}

#redirectPage {
    background-color: var(--bg-color-new);
    width: var(--popup-width);
    height: var(--popup-height);
    display: flex;
    justify-content: center;
    align-items:center;
}

.optionTable {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction:column;
}

.optionRow {
    background-color: var(--block-color-new);
    border-color: var(--border-color-new);
    height: 95px;
    color: var(--text-color-new);
    display: flex;
    flex-direction: row;
    margin-left: var(--std-margin-width);
    margin-right: var(--std-margin-width);
}

.descriptionBlock {
    width:450px;
    margin: 5px;
    margin-left: 8px;
    margin-top: 7px;
}

.descriptionTitle {
    font-size: 16px;
    font-weight: bold;
}

.descriptionContent{
    margin-top: 8px;
}

.optionBlock {
    width: 0px;
}

.optionSelectButton {
    margin-top: 7px;
    width: 22px;
    height: 22px;
    color: var(--button-text-color-new);
    border-color: var(--button-text-color-new);
    flex-shrink: 0;
    position: absolute;
    display: inline;
    right: 11px;
}

    .optionSelectButton:hover {
        background-color:var(--color-brighten);
    }

    .optionSelectButton[toggle=on] {
        background-color: var(--button-text-color-new);
    }

.optionDisplay{
    position:absolute;
    display:inline;
    right: 45px;
    margin-top:10px;
}

.optionDisplay span:not(.optionEditText) {
    opacity: .5;
}


.optionEditText {
    opacity: 1;
    cursor: auto;
}

.optionInput {
    background-color: var(--color-brighten);
    border-color: var(--border-color-new);
}

#redirectBox {
    width: 80vw;
    height:40vw;
    background-color: var(--block-color-new);
    border-color: var(--border-color-new);
    transform: translateY(-30px);
    text-align:center;
}

#redirectText {
    font-size: 16px;
    color: var(--button-text-color-new);
    font-weight:600;
    position: relative;
    margin-top: 30px;
    top:30px;
}

#loginButton, #registerButton {
    color: var(--button-text-color-new);
    background-color: var(--block-color-new);
    border-color: var(--button-text-color-new);
    position: relative;
    margin-top: 80px;
    font-size: 14px;
}

#loginButton {
    margin-right:8%;
}

#registerButton {
    margin-left:8%;
}

#loginButton:hover, #registerButton:hover {
    background-color: var(--color-brighten);
}