.releaseRow[new_releases=true],
        [new_releases=true] * {
        background-color: var(--block-color-new);
        color: var(--text-color-new);
        border-color: var(--border-color-new);
}